html, body {
        @font-face {
        font-family: 'Agdasima';
        src: url("../assets/fonts/Agdasima/Agdasima-Bold.ttf");
        font-weight: 100;
      }
      @font-face {
        font-family: 'Quicksand';
        src: url("../assets/fonts/Quicksand/Quicksand.ttf");
        font-weight: 80;
      }
        font-family: Agdasima, Quicksand;
        font-size: 16px, 14px;
        margin: 0;
        padding: 0;
}
table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5px;
    border: 1px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}
* {
    box-sizing: border-box;
  }